.homeview{
    display: flex;
    flex-direction: column;   
}
.operating-time-container{
    display: flex;
    justify-content: center;
    position: relative;
    background:black;
    height: 50px;
    width: 100%;
}
.operating-time{
    position: absolute;
    display: flex;
    bottom: -50px;
    width:50vw;
    height:60px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px; 
    z-index: 1; 
    padding: 10px;
}
.date-container{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:5px;
    margin-left: 20px;
    border-right: 1px solid grey;
}
.business-hours-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    gap:5px;
    margin-left: 20px;
}
.cuisine-list{
    width:50vw;
    overflow: auto;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    margin-left: 25vw;
    flex-direction: row;
    padding: 50px 0 20px 0px;
}
.cuisine-list::-webkit-scrollbar{
    width: 0;
}

.cuisine{
    margin: 20px;
}
.cuisine-button{
    width: 90px;
    height: 35px;
    border: 1px solid grey;
    color:grey;
    background: white;
    border: 1px solid grey;
    border-radius: 10px;
    cursor: pointer;
}
.cuisine-button.active{
    font-weight: bold;
    color: orangered;
    border-color: orangered;
}
/* .cuisine-button:hover{
    font-weight: bold;
    color: orangered;
    border-color: orangered;
} */